<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdUW1HQ34z-gW6unZPuSoc3ONw7q8xhy4</string>
	<key>GCM_SENDER_ID</key>
	<string>393282474089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pashtitto.q-shop</string>
	<key>PROJECT_ID</key>
	<string>q-shop-a4ea2</string>
	<key>STORAGE_BUCKET</key>
	<string>q-shop-a4ea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393282474089:ios:c18b86eba8ae299f4e52f8</string>
</dict>
</plist>